<nav class="fixed top-0 w-full bg-orange-400 z-50">
  <div class="px-3 py-1 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <!-- NAVEGADOR -->
      <div class="flex flex-col gap-2 w-full">
        <div class="flex items-center justify-between w-full p-0 mx-0">
          <!-- BOTON MENU -->
          <button
            (click)="toggleSidebar()"
            aria-controls="default-sidebar"
            type="button"
            class="inline-flex items-center py-2 text-sm text-black rounded-lg lg:hidden md:hidden"
          >
            <span class="sr-only">Open sidebar</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
              ></path>
            </svg>
          </button>

          <!-- BUSCADOR -->
          <div class="flex w-full mx-2">
            <!-- Contenedor del input y el icono -->
            <span
              class="p-input-icon-left flex flex-grow relative items-center"
            >
              <!-- Icono de lupa -->
              <i
                class="fa fa-search absolute left-4 top-2 text-gray-400 text-xs"
              ></i>

              <!-- Input con espacio para el icono -->
              <input
                type="text"
                placeholder="Buscar en Junasoft"
                class="w-full border-none tracking-wide rounded-full pl-10 pr-6 py-2 text-xs placeholder:text-xs"
              />
            </span>
          </div>

          <!-- ICONO CARRITO -->
          <button>
            <i class="fa-solid fa-cart-shopping text-black"></i>
          </button>
        </div>
        <div class="flex w-full pb-2">
          <button class="flex gap-2 items-center text-xs text-slate-800">
            <i class="fa-solid fa-location-dot"></i>
            Entre rios 171
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>

      <div class="items-center hidden">
        <div class="flex items-center ml-3">
          <!-- IMAGEN DASHBAORD LG -->
          <div class="lg:block md:block sm:hidden">
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-600 p-1 hover:bg-gray-400"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-12 h-12 rounded-full"
                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="user photo"
              />
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none rounded shadow bg-gray-700 divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-white" role="none">Neil Sims</p>
              <p class="text-sm font-medium truncate text-gray-300" role="none">
                neil.simsflowbite.com
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  href="#"
                  class="flex items-center hover:bg-gray-600 px-4 py-2 text-sm text-gray-300 hover:text-white group"
                >
                  <i
                    class="fa-solid fa-circle-info text-gray-400 group-hover:text-white"
                  ></i>
                  <span class="flex-1 ml-3 whitespace-nowrap">Ayuda</span>
                </a>
              </li>
              <li>
                <a
                  href="/configuracion"
                  class="flex items-center hover:bg-gray-600 px-4 py-2 text-sm text-gray-300 hover:text-white group"
                >
                  <i
                    class="fa-solid fa-gear text-gray-400 group-hover:text-white"
                  ></i>
                  <span class="flex-1 ml-3 whitespace-nowrap"
                    >Configuración</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="flex items-center hover:bg-gray-600 px-4 py-2 text-sm text-gray-300 hover:text-white group"
                  data-modal-target="popup-modal"
                  data-modal-toggle="popup-modal"
                >
                  <i
                    class="fa-solid fa-right-to-bracket text-gray-400 group-hover:text-white"
                  ></i>
                  <span class="flex-1 ml-3 whitespace-nowrap"
                    >Cerrar sesión</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div
  *ngIf="sidebarOpen"
  class="fixed inset-0 bg-black opacity-50 z-50"
  (click)="toggleSidebar()"
></div>
<!-- sidebar -->
<aside
  id="default-sidebar"
  [class.-translate-x-full]="!sidebarOpen"
  [class.translate-x-0]="sidebarOpen"
  class="fixed top-0 left-0 z-50 lg:w-56 md:w-56 sm:w-72 h-screen transition-transform -translate-x-full md:translate-x-0 overflow-y-auto"
  aria-label="Sidebar"
>
  <div
    class="lg:hidden md:hidden sm:flex gap-2 items-center py-10 px-4 bg-orange-400 border-b border-gray-400"
  >
    <img
      class="w-12 h-12 rounded-full"
      src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
      alt="user photo"
    />
    <div class="flex flex-col text-black">
      <p class="text-base uppercase font-bold">Nahuel moyano</p>
      <button
        class="flex items-center gap-2 text-xs"
        (click)="navigateToMiPerfil()"
      >
        Mi perfil
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div>
  <div
    class="h-full px-3 py-4 overflow-y-auto lg:mt-14 md:mt-14 sm:mt-0 bg-white flex flex-col"
  >
    <ul class="space-y-2 font-medium text-sm">
      <!-- INICIO -->
      <li>
        <a
          routerLink="/home"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-house group-hover:text-white"></i>
          <span class="ml-3 text-sm">Inicio</span>
        </a>
      </li>
      <!-- BUSCAR -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-search group-hover:text-white"></i>
          <span class="ml-3 text-sm">Buscar</span>
        </a>
      </li>
      <!-- MIS COMPRAS -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-bag-shopping group-hover:text-white"></i>
          <span class="ml-3 text-sm">Mis compras</span>
        </a>
      </li>
      <!-- OFERAS -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-tag group-hover:text-white"></i>
          <span class="ml-3 text-sm">Ofertas</span>
        </a>
      </li>
      <hr class="border-black" />
      <!-- MODA -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-shirt group-hover:text-white"></i>
          <span class="ml-3 text-sm">Moda</span>
        </a>
      </li>
      <!-- MAS VENDIDOS -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-cart-plus group-hover:text-white"></i>
          <span class="ml-3 text-sm">Mas vendidos</span>
        </a>
      </li>
      <!-- CATEGORIAS -->
      <li>
        <a
          routerLink="/buscar"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-list-ul group-hover:text-white"></i>
          <span class="ml-3 text-sm">Categorías</span>
        </a>
      </li>
      <hr class="border-black" />
      <!-- ÁYUDA -->
      <li>
        <a
          routerLink="/ayuda"
          class="flex items-center p-2 rounded-lg hover:bg-gradient-to-tr hover:from-red-600 hover:to-red-400 hover:text-white group"
          routerLinkActive="bg-gradient-to-tr from-red-600 to-red-400 shadow-md text-white"
        >
          <i class="fa-solid fa-headset group-hover:text-white"></i>
          <span class="ml-3 text-sm">Ayuda</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- FOOTER -->
  <div
    class="flex w-full absolute bottom-4 gap-2 py-2 items-center px-4 mt-8 border-t border-gray-400"
  >
    <p class="text-black">
      Desarrollado por
      <a href="https://www.junasoft.com/" class="font-bold text-red-600"
        >JUNASOFT</a
      >
    </p>
  </div>
</aside>
