<nav class="fixed top-0 w-full z-50 bg-orange-400">
  <div class="px-3 py-1 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <!-- NAVEGADOR -->
      <div class="flex flex-col gap-4 w-full my-4">
        <div class="flex left-2 items-center w-full p-0 mx-0">
          <button
            class="text-black px-3 drop-shadow rounded mr-2"
            (click)="navigateToHome()"
          >
            <i class="fa-solid fa-angle-left text-2xl"></i>
          </button>
          <h3 class="text-black font-bold uppercase">categorías</h3>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="max-w-screen-md flex flex-wrap items-center justify-center mx-auto relative"
>
  <div class="grid grid-cols-3 w-full mt-20 py-4 px-2 gap-4">
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/perfume.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Belleza y Cuidado</p>
      </div>
    </div>
    <!-- AUTO -->
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/auto.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Autos, Motos y Otros</p>
      </div>
    </div>
    <!-- COMPUTADORA -->
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/computadora.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Computación</p>
      </div>
    </div>
    <!-- CELULAR -->
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/celular.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto pb-2"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Celulares</p>
      </div>
    </div>
    <!-- JOYSTICK -->
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/joystick.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Consolas y Videojuegos</p>
      </div>
    </div>
    <!-- PERFORADORA -->
    <div
      class="flex flex-col text-center rounded-lg bg-gray-200 drop-shadow shadow"
    >
      <div
        class="flex bg-gray-200 w-24 h-28 justify-center text-center mx-auto py-2"
      >
        <img
          src="./assets/categorias/perforadora.png"
          alt=""
          class="w-24 h-28 object-contain rounded-t-lg mx-auto"
        />
      </div>
      <div
        class="flex w-full h-full text-gray-600 bg-white text-center justify-center items-center rounded-b-lg"
      >
        <p class="p-2">Herramientas</p>
      </div>
    </div>
  </div>
</div>
