<nav class="fixed top-0 w-full z-50 bg-orange-400">
  <div class="px-3 py-1 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <!-- NAVEGADOR -->
      <div class="flex flex-col gap-4 w-full my-4">
        <div class="flex left-2 items-center w-full p-0 mx-0">
          <button
            class="text-black px-3 drop-shadow rounded mr-2"
            (click)="navigateToHome()"
          >
            <i class="fa-solid fa-angle-left text-2xl"></i>
          </button>
          <h3 class="text-black font-bold uppercase">mis compras</h3>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="max-w-screen-md flex flex-wrap items-center justify-center mx-auto relative"
>
  <div class="flex flex-col w-full mt-20 py-4 px-2">
    <!-- TITULO -->

    <div class="flex w-full bg-white drop-shadow shadow rounded-full">
      <!-- Contenedor del input y el icono -->
      <span class="p-input-icon-left flex flex-grow relative items-center">
        <!-- Icono de lupa -->
        <i
          class="fa fa-search absolute left-4 top-5 text-gray-400 text-nase"
        ></i>

        <!-- Input con espacio para el icono -->
        <input
          type="text"
          placeholder="Buscar compra"
          class="w-full border-none tracking-wide rounded-full pl-10 pr-6 py-4 text-base placeholder:text-base"
        />
      </span>
    </div>

    <!-- LISTADO DE PRODUCTOS -->
    <div class="my-6 flex flex-col gap-4 border rounded-lg">
      <!-- PRODUCTO 1 -->
      <div
        class="flex flex-col items-center justify-between p-4 border-b bg-white drop-shadow shadow rounded-lg"
      >
        <!-- FECHA -->
        <div class="flex border-b items-center justify-between w-full pb-2">
          <p class="font-bold">13 de Junio</p>
          <button
            class="text-red-600 py-2 px-3 rounded bg-red-100 items-center flex"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <!-- PRODCUTO -->
        <div class="flex items-center w-full justify-start gap-x-4 py-4">
          <img
            src="https://http2.mlstatic.com/kit-tactico-militar-de-supervivencia-9-en-1-caja-plastica-S_2X_917369-MLA70474832808_072023-Y.jpg"
            alt=""
            class="h-28 w-24 border rounded px-2 py-1 object-cover"
          />
          <div class="flex flex-col gap-2 w-full">
            <p class="font-bold text-green-600">Entregado</p>
            <p>Llegó el 14 de Junio</p>
          </div>
        </div>
      </div>
      <!-- PRODUCTO 2 -->
      <div
        class="flex flex-col items-center justify-between p-4 border-b bg-white drop-shadow shadow rounded-lg"
      >
        <!-- FECHA -->
        <div class="flex border-b items-center justify-between w-full pb-2">
          <p class="font-bold">10 de Mayo</p>
          <button
            class="text-red-600 py-2 px-3 rounded bg-red-100 items-center flex"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <!-- PRODCUTO -->
        <div class="flex items-center w-full justify-start gap-x-4 py-4">
          <img
            src="https://http2.mlstatic.com/kit-tactico-militar-de-supervivencia-9-en-1-caja-plastica-S_2X_917369-MLA70474832808_072023-Y.jpg"
            alt=""
            class="h-28 w-24 border rounded px-2 py-1 object-cover"
          />
          <div class="flex flex-col gap-2 w-full">
            <p class="font-bold text-red-600">Compra cancelada</p>
            <p>Venció el plazo para pagar tu compra</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
